@font-face {
  font-family: "iconfont"; /* Project id 3356495 */
  src: url("//at.alicdn.com/t/font_3356495_z9vw7qw141c.woff2?t=1651124617376")
      format("woff2"),
    url("//at.alicdn.com/t/font_3356495_z9vw7qw141c.woff?t=1651124617376")
      format("woff"),
    url("//at.alicdn.com/t/font_3356495_z9vw7qw141c.ttf?t=1651124617376")
      format("truetype"),
    url("//at.alicdn.com/t/font_3356495_z9vw7qw141c.svg?t=1651124617376#iconfont")
      format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e645";
}

.icon-biangeng:before {
  content: "\e618";
}

.icon-baozhang:before {
  content: "\e619";
}

.icon-dizhi:before {
  content: "\e61a";
}

.icon-bumen:before {
  content: "\e61b";
}

.icon-shoucang:before {
  content: "\e61c";
}

.icon-pinglun:before {
  content: "\e61d";
}

.icon-tiaopei:before {
  content: "\e61e";
}

.icon-shanchu:before {
  content: "\e61f";
}

.icon-fenlei:before {
  content: "\e620";
}

.icon-tianjia:before {
  content: "\e621";
}

.icon-shijian:before {
  content: "\e622";
}

.icon-tanhao:before {
  content: "\e623";
}

.icon-sousuo:before {
  content: "\e624";
}

.icon-wode1:before {
  content: "\e625";
}

.icon-zonglan:before {
  content: "\e626";
}

.icon-yiwen:before {
  content: "\e627";
}

.icon-weixuanzhong:before {
  content: "\e628";
}

.icon-xuanzhong:before {
  content: "\e629";
}

.icon-xiala:before {
  content: "\e62a";
}

.icon-shouqi:before {
  content: "\e62b";
}
